<% provide(:title, @course.course_name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
	    <%= @course.course_name %>
		<%= @course.semester %>
	  </h1>
    </section>
	<section>
	  <%= render 'shared/statsincourse' %>
	</section>
  </aside>
  <div class="span8">
    <%= render 'enroll_form' if signed_in?%>
	<%= link_to "Make Assignment", "/assignmentc?course_id=#{@course.id}" %>
	<% if @course.assignments.any? %>
	  <h3>Assignments (<%= @course.assignments.count %>)</h3>
	  <ul class="assignments" %>
		<%= render @assignments %>
	  </ul>
	  <%= will_paginate @assignments %>
	<% end %>
  </div>
</div>